.Container {
    display: flex;
    flex-direction: column;

}

.Container2 {
    display: flex;
    flex-direction: column;  
 
}

img {
    width: 180px;
    height: 180px;
}

.Ingridienser {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
}
.Bakning {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
}

body {
    text-align: center;
}

.Con4{
    
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}
